body {
    background-color:white
}
#indkøbskurv{
    float:right;
    position:fixed;
    left: 1200px;
    top: 50px;
}
aside{
    float:right;
    position:fixed;
    left: 1200px;
    top: 50px;
}
table{
    border:5px solid green;
    width:80%;
    background-color:burlywood;
}
section{
    padding-top:10px;
    position:absolute;
    left:650px;
}
#menutop {
    padding-left:100px;
}
#menu{
    float:left;
    padding-left:50px;
    padding-top:5px;
}
header{
    
}
#Error{
    text-decoration-color:red;
    color:red;
}
#produktList{
    padding-left:10px;
}
#table td{
    align-self:center;
}

