@model Webshop.UserProfile

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>userProfile</title>
</head>
<body>
    <div>
        @Model.adress  <br />
        
    </div>
</body>
</html>
