@model Webshop.UserProfile

@{
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/StyleSheet1.css">
    <title>Index</title>
</head>

<body>
    <header id="indkøbskurv">
        @if (Model.LoginUser == null)
        {
            @Html.ActionLink("Login", "Index", "Login")
        }
        else
        {
            @Html.ActionLink("Bruger Profile", "userProfile", new { id = Model.id })<br />
            @Html.ActionLink("Log ud", "index", new { id = -1 })
        }

        <div>
            @Html.ActionLink("Indkøbskurv", "Index")
        </div>
    </header>

    <section>
        <img src="~/pic/pic_mountain.jpg" alt="ost" style="width:304px;height:228px;">
    </section>
</body>
</html>
