@model Webshop.Visa

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>visa</title>
</head>
<body>
    <div>
        @using (Html.BeginForm(new { id = Model.UserProfile1.id }))
        {
            @Html.LabelFor(m => m.visainfo)
            @Html.TextBox("visa")
            <input type="submit" value="Godkend" />
        }
    </div>
</body>
</html>
